@{
    ViewBag.Title = "Inicio";
}

<br />
<center><h1>Bienvenido, favor de elegir la opcion deseada.</h1></center>
<hr />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <h2>Mantenimiento</h2>
            <ul>
                <li><a href="/EMPLEADO/index">Empleados&raquo;</a></li>
                <li><a href="/DEPARTAMENTO/index">Departamentos&raquo;</a></li>
                <li><a href="/CARGO/index">Cargos&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Procesos</h2>
            <ul>
                <li><a href="/NOMINA/index">Nómina&raquo;</a></li>
                <li><a href="/SALIDA_EMPLEADOS/index">Salida de Empleados&raquo;</a></li>
                <li><a href="/VACACIONES/index">Vacaciones&raquo;</a></li>
                <li><a href="/PERMISO/index">Permisos&raquo;</a></li>
                <li><a href="/LICENCIA/index">Licencias&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Informes</h2>
            <ul>
                <li><a href="/NOMINA/index">Nómina&raquo;</a></li>
                <li><a href="/Activos/index">Empleados activos&raquo;</a></li>
                <li><a href="/Inactivos/index">Empleados Inactivos&raquo;</a></li>
                <li><a href="/DEPARTAMENTO/index">Departamentos&raquo;</a></li>
                <li><a href="/CARGO/index">Cargos&raquo;</a></li>
                <li><a href="/EMPLEADO/index">Entradas de empleados por mes&raquo;</a></li>
                <li><a href="/SALIDA_EMPLEADOS/index">Salida de empleados por mes&raquo;</a></li>
                <li><a href="/PERMISO/index">Permisos&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
